.calc{
	margin:35px 70px;
	width:260px;
	border:1px dashed red;
}

.calc input{
	margin:5px;
	margin-left:10px;
}

.calc input[type="text"]{
	width: 240px;
	height: 45px;
	border: 1px solid black;
}

.calc input[type="button"]{
	width: 45px;
	height: 45px;
	background-color: #dddddd;
}

.calc input[type="button"]:disabled{
	width: 45px;
	height: 45px;
	background-color: #ddcccc;
}


.calc input[type="button"]:disabled:hover{
	width: 45px;
	height: 45px;
	background-color: #ffdddd;
	border: 1px solid black;
}

.calc input[type="button"][class="zero"]{
	width: 110px;
	margin-right:4px;
}

.calc input[type="button"][class="equals"]{
	width: 174px;
	margin-right:4px;
}